*{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    box-sizing: border-box;
}

.top-bar{
    background-color: #D5B981;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;   
}
.top-bar .right{
width: 30%;
}
.top-bar .right img{
    width: 100%;
}
.top-bar .left{
    width: 50%;
    margin: 10%;
   
}
.top-bar .left h1{
    font-size: 48px;
    padding-bottom: 10px  ;    
}
.top-bar .top-bar-donnee{
    padding-bottom: 10px;
}
.top-bar button{
    background-color: #D5B981;
    border: 2px solid #000; 
    padding:10px;
}

.leram{
    display: flex;
    margin-left: 5%;
}
.leram .left {
    width:30% ;
    background-color: #1d2434;
    
}
.leram .left img {
    width:100%;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: -10%;
}
.leram .left .box{
    background-color: #1d2434;
}
.leram .right{
    width: 60%;
    margin-top: 6%;
    margin-left: 8%;
}

.leram .right .discription{
    padding-top: 2%;
}
.leram .right button{
    border: 2px solid #000; 
    padding:2%;
    margin-top: 2%;
}
.leram .left .border1{
    border: 2px solid #000;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: -10%;
    margin-right:  -10%;
}
.service {
    margin-top: 10%;
    text-align: center;
}

h6{
    font-size: 14px ;
    padding-bottom: 2%;
    color: #4e4e4e;
}
.card{
    width:25%;
    display:inline-block;
    background: rgb(236, 234, 234);;
    margin: 1%;
}
.cut-name{
    font-size:20px;
    text-align: center;
    padding-bottom: 2%;
}
.card p{
    padding: 5%;
}
.card button{
    border: 2px solid #000; 
    padding:2%;
    margin-top: 2%;
}
.card .border2 {
    border: 2px solid #000;
    
}