:root{
    --color-beige:#D5B981;
    --color-blue:#1d2434;
}

/* css reset */

*{
    padding:0;
    margin:0;
    box-sizing:border-box ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


body{
    font-family: var(--font-family);

}
img{
    width:100%;
}
/** landing page CSS */
.landing-page{
    background: var(--color-beige);
    height:100%;
    display: flex;
    justify-content: space-between;
    
}
.l-description *{
    padding:20px 0;
}
.l-description{
    width:50%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.l-description-content{

    
    display: flex;
    flex-direction: column;
    padding-left:50px;

}
.l-description-content button{
    border:4px solid var(--color-blue);
    background:transparent;
    width:250px;
    padding:15px 25px;
    font-size:25px;
}



.l-description-content h1{
    font-size:50px;
    color:var(--color-blue);
    font-weight:bold;
}

.l-description-content p{
    font-size:26px;
    color:var(--color-blue);
}


/** about section **/

.about{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-img {
    width:30%;
    box-shadow: -60px -50px var(--color-blue);
}
.about-description p, .about-description h1, .about-description span{
    margin:10px 0;
}
.about-description h1{
   margin:20px 0 50px 0;
}


.about-description{
    width:55%;
    margin-left:30px;
}

.about-description h1{
    font-size:35px;
    color:var(--color-blue);
    font-weight:bold;
}
.about-description span{
    color:rgb(90, 88, 88);
    font-weight:bold;
}
.about-description p {
    font-size: 26px;
    color:gray
}


.about-description button{
    border:4px solid var(--color-blue);
    background:transparent;
    width:200px;
    padding:15px 5px;
    font-size:25px;
}

.about-description :last-child{
    margin-top:50px;
}

.about-img {
    outline: 1px solid white;
    outline-offset: 25px ;
}

.font .photo{
    position: relative;
}        
.font .pp{
    width: 10%;
    border-radius: 50%;
    position: relative;
    top :0;
    right: 0;

}
.font .description{
   font-size: 16px;
   color: white;
   ;
}

.font{
    background-image :url("barbershopimages/testimonial-bg.jpg" ) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    padding:0 20%;
    

}
.t-detail{
    padding: 15%;
}
.font .description h5{
    padding-top: 2%;
    color: #D5B981;
}
.prof{
    font-size: 14px;
    color: #4e4e4e;
}
.font .description p{
    padding-top: 2%;
}
.font .description button{
    background-color :#4e4e4e;
    color: #D5B981;
    font-weight: bolder;
    font-size: 15px;
    padding: 1% 2%;
}
.font .description .butt{
    padding-top: 2%;
}



.service {
    margin-top: 1%;
    text-align: center;
}

h6{
    font-size: 14px ;
    padding-bottom: 2%;
    color: #4e4e4e;
}
.card{
    width:20%;
    height: 50%;
    display:inline-block;
    background: rgb(236, 234, 234);;
    margin: 2%;
}
.cut-name{
    font-size:20px;
    text-align: center;
    padding-bottom: 2%;
}
.card p{
    padding: 5%;
}
.card button{
    border: 2px solid #000; 
    padding:3% 8%;
    margin-top: 2%;
}
.card .border2 {
    outline: 1px solid white;
    outline-offset: -10px ;
    
}
.price{
    margin: 3% 0 3% 3%;
}
.price-card{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-end;
    margin: 4%;
    
}
.price-desicription{
    text-align: center;
    margin-bottom: 2%;
}
.card2{
    width:25%;
    display:flex;
    background: rgb(236, 234, 234);;
    margin: 1%;
    width: 20%;
    
}
.card2 img{
    width: 50%;
    outline: 1px solid white;
    outline-offset: -10px ;
    
}

.team{
    width: 80%;
    margin: 5% 5% 5% 8%;
}
.team-title{
    text-align: center;
    margin-bottom: 2%;
}
.team-card{
    display :flex;
    justify-content: flex-end;
    
}
h1{
    font-size: 35px;
}
.card3{
    width:20%;
    display:inline-block;
    margin: 2%;
    position: relative;
    z-index: 5;
}
.card3 .detail{
    text-align: center;
    display: flex;
    flex-direction: column;
    background: rgb(236, 234, 234);
    width: 88%;
    padding-top: 5%;
    padding-bottom: 10%;
    margin-left: 6%;
    margin-top: -25%;
    position: absolute;
    z-index: 6;
    
}
.card3 .detail strong{
    font-weight: bold;
    color: #050505;
    margin-bottom: 5%;
    margin-top: 5%;
}
.card3 img{
    outline: 1px solid white;
    outline-offset: -20px ;
    
}


.contact{
    width: 80%;
    display: flex;
    margin: 10% 10% 10% 6%;
    justify-content: flex-end;
}
.contact .image{
    display: flex;
    width: 30%;
}
.contact .image img{
    width: 100%;
}
.contact .form{
    background-color: #1d2434;
    width: 60%;
}
.contact .contact-formule{
    display: flex;
    flex-direction: column;
    margin:10% 6% 5% 6%;  
}
input , textarea {
    border: 0px;
    background-color: #1d2434;
    padding-bottom: 2%;
    margin-bottom: 2%;
    border-bottom:2px solid #D5B981 ;
}

.contact .contact-formule button{
    text-align: center;
    width: 25%;
    background-color: #1d2434;
    padding: 2% 3%;
    margin-bottom: 2%;
    border:2px solid #D5B981;
    color: #D5B981;
    font-size: 14px;
}
textarea{
    margin-top: 3%;
}


.blog{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}
.t-card-4{
    display: flex;
    width: 100%;
}
.card4{
    width:40%;
    height: 50%;
    display:inline-block;
    background: rgb(236, 234, 234);;
    margin: 2%;
}
.blog-description{
    text-align: center;
}
.card4 .detail {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-bottom: 10%;
}
.detail span{
    padding: 3% 0;
}
.detail p{
    font-weight: bolder;
    font-size: 10px;
}
.card4 img{
    outline: 1px solid white;
    outline-offset: -10px ;  
}

.detail-icon img{
    width: 5%;
    outline: 0px solid white;
    outline-offset: 0px ;
}
.detail-icon{
    font-size: 12px;
    color: #4e4e4e;
    margin-bottom:10% 
}



.footer{
    background: #1d2434;
    height:300px;
}
.addres h3{
    color: #D5B981;
}
.addres p{
    color:rgb(158, 154, 154);
}
.links h3{
    color: #D5B981;
}
.news h3{
    color: #D5B981;
}
.links p{
    color:rgb(158, 154, 154);
    
}
.news p{
    color:rgb(158, 154, 154);
        width: 200px;
}
.posi{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 50px;
   padding-bottom: 0;
   margin: 10px;
   margin-bottom: 20px;
   justify-content: space-between;
}
.news button{
    width: 100px;
    position: relative;
    right:110px;
    height: 40px;

}
.news input{
    width: 300px;
    height: 50px;
;
}